/*** PRODUCTS ***/
.products-elem{
    &_elemento{
        border-bottom: 1px solid rgb(222, 226, 230);
        button{
            font-size: .9em;
            height: 35px;
            img{
                width: 14px;
            }
        }
    }
    &_icon{
        width: 16px;
    }
    a{
        text-decoration: none;
    }
}
