.main-container{
    margin-top: 57px;
}
.hidden{
    display: none;
}
input:read-only {
    cursor: not-allowed;
    background-color: #f5f5f5;
    &:focus {
        background-color: #f5f5f5;
    }
}
main{
    @media (max-width:767px) {
        margin-top: 56px;
        padding: 2%;
    }
}